[user]
	name = Guillermo Alfonso Varela Chouciño
	email = guillermo@work.com
[alias]
	# Aliases for "profiles"
	pdv = config user.email \"guillermo@personal.com\"
	pwork = config user.email \"guillermo@work.com\"
	p = !git config user.name && git config user.email

[include]
	path = ./.gitaliases

[core]
	editor = vi
